Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

In [6]:
unordered_list=['Python','R','Julia','Java','Sql']

Some of the popular languages that Data Scientists use are:

In [3]:
ordered_list= ['Python','R','Matlab']
ordered_list.sort()
ordered_list

['Matlab', 'Python', 'R']

| Data Science Tools |
| Jupyter Notebook   |
| RStudio            |
| VS Code with Python|

Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
float(200/60)

3.3333333333333335

##Author
KUNAL SOOD